<section id="gameboard">
    <div class="container p-0">
        <div class="text-center">
            <button type="button" class="b``tn btn-warning px-5 py-3 shadow my-4" (click)="newGame()">New Game</button>
        </div>
        <div class="row justify-content-center m-0">
            <div id="playerOne" class="col-10 col-sm-10 col-md-5 col-lg-5 p-0">
                <app-board></app-board>

            </div>
            <div id="playerTwo" class="col-10 col-sm-10 col-md-5 col-lg-5 p-0" *ngIf="!hola">
                <div class="row justify-content-center">
                        <img src="../../../assets/img/loro1.png"  class="col-10" style="width:350px; height: 350px;" alt="">
                        <button type="button" class="btn btn-warning btn-lg px-5 py-3 mt-3 shadow my-4 ol-10" 
                    (click)="start('hola')">Start</button> 
                </div>
            </div>
            <div id="playerTwo" class="col-10 col-sm-10 col-md-5 col-lg-5 p-0" *ngIf="hola">
                <app-enemy-board></app-enemy-board>
            </div>
        </div>
    </div>
</section>