#gameboard {
            height: 100vh;
            width: 100vw;
            background-image: linear-gradient(to bottom, #67d2ef, #9fdafb, #cbe4ff, #ebf0ff, #ffffff);
            padding-top: 20px;
        }

        .parrot {
            width:400px; 
            height:400px;
        }

        .titleTwo {
            font-size: 50px;
            color: #FFBF00;
            text-shadow: 6px 6px 8px rgb(56, 35, 19);
            padding-bottom: 30px;
            font-family: 'Pirata One', cursive;
            letter-spacing: 2px;
        }

        .row{
            justify-content: space-around !important;
        }
        
        @media screen and (min-width:770px) and (max-width:992px) {
            #playerOne,
            #playerTwo {
                padding-top: 130px;
            }
            .row {
                justify-content: center;
            }
        }
        
        @media screen and (min-width:320px) and (max-width:770px) {
            #playerOne,
            #playerTwo {
                margin: 0px;
            }
            .row {
                justify-content: center;
            }
            main {
                display: flex;
                justify-content: space-between !important;
                grid-template-columns: 30px 30px 30px;
                background-size: cover;
            }
            app-square {
                height: 30px;
            }
            .parrot {
                width: 150px;
                height: 150px;

            }
            .parrot-box {
                margin-top: 0;
            }
            #playerTwoParrot {                
                margin: 0 !important;
                margin-bottom: 50px !important;  
            }
        }

