.img-fluid {
  width: 100%;
  height: auto;
}

.btn-warning, .card-title{
    font-family: 'Pirata One', cursive;
    margin-top: 2rem;
}

.btn-warning{
  margin-bottom: 20px;
  font-size: 25px;
  color: rgb(56, 35, 19);

}

.card-title{
  font-size: 50px;
  color: rgb(56, 35, 19);
}


