<html>
        <body>
                        <img src="assets/img/mapa.jpg" class="img-fluid" alt="Responsive image">
      <mat-card-title>Isla del Tesoro</mat-card-title>
<div class="example-button-row">
                <button mat-raised-button color="accent">Start</button>
        </div>
</body>
</html>

<!-- <div *ngIf = "rooms">
<div *ngFor = "let r of rooms">
        <h1>ROOM</h1>
        <button type="button" (click)="joinRoom(r)">JOIN</button>
        <button type="button" (click)="deleteRoom(r)">CLOSE</button>
        <div *ngIf = "r.warning">
                <p> {{r.warning}} </p>
        </div>
</div> -->
<!-- </div> -->