.img-fluid{
    width: 1300px;
    height: 380px;
}

.mat-card-title{
    font-family: 'Pirata One', cursive;
    font-size: 50px;
}

.mat-raised-button{
    margin-top: 3rem;
    font-family: 'Pirata One', cursive;
    font-size: 30px;
}