.img-fluid {
  width: 100%;
  height: auto;
}

.btn-warning, .card-title{
    font-family: 'Pirata One', cursive;
    margin-top: 2rem;
}

.btn-warning{
  margin-bottom: 20px;
  font-size: 20px;
  color: rgb(56, 35, 19);

}

.card-title{
  font-size: 50px;
  color: rgb(56, 35, 19);
}

.progress{
  margin-top: 2rem;
}

.modal-content{
  background-image: linear-gradient(to bottom, #664216, #896438, #ac885c, #d1ad81, #f6d4a9);
}

.modal-title{
  font-family: 'Pirata One', cursive;
  color: rgb(56, 35, 19);

}

.modal-footer{
  padding-bottom: 0px;
  padding-top: 0px;
  border-top-width: 0px;
  height: 80px;
}



