<section id="winner">
    <div class="container"><br>
        <h1 style="font-size:6vw;">¡ Felicidades, encontraste el tesoro !</h1>

            <div class="col-10 col-sm-10 col-md-5 col-lg-5 p-0" class="tesoro">
                <img src="../../../assets/img/tesoro.jpg" alt="">
            </div>
            <div class="row justify-content-center m-0">
            <button type="button" class="btn btn-warning" routerLink="/home" routerLinkActive="active" style="margin-top:2rem;">New Game</button>
            </div>
    </div><br>
</section>
