main {
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-gap: 0px;
    justify-content: center;
    background-image: url('../../../assets/img/mapa.jpg'); 
    background-size:cover;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px 0px rgba(0, 42, 88, 0.815);
}

app-square {
    height: 100px;
    margin: 2px;
}

