* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.btn-warning{
    font-family: 'Pirata One', cursive;
    font-size: 25px;
}
h3 {
    font-family: 'Pirata One', cursive;
    letter-spacing: 3px;
}